<main class="container">
  <header class="row">
    <h1 class="col-md-12 text-center title">Classificador de palavras polissêmicas</h1>
    <section class="explanation col-md-12 text-center">
      <h3 class="title text-center">Polissemia</h3>
      <p>Consiste no fato linguístico de uma palavra ter mais de um significado</p>
      <h4 class="title text-center examples">Exemplos</h4>
      <p class="text-center">Comer <strong>Manga</strong> com leite mata == Significa Fruta</p>
      <p class="text-center mb-40">Adoro blusas de <strong>Manga</strong> comprida == Significa Roupa </p>
      <p *ngIf="tagged">{{sentence}}</p>
    </section>
  </header>
  <form [formGroup]="form" class="row" *ngIf="!loading && !tagged">
    <div class="form-group col-md-5 offset-md-3">
      <input type="text" class="form-control" formControlName="sentence" placeholder="Coloque sua frase aqui">
    </div>
    <div class="form-group col-md-1">
      <button class="btn btn-success" [ngClass]="{'disabled':disabledBtn }" (click)="submit()">Classificar</button>
    </div>
  </form>
  <section class="loader col-md-12 text-center" *ngIf="loading">
    <img src="../../../assets/images/loader.gif" alt="" srcset="">
  </section>
  <app-result *ngIf="!loading && tagged && !greetings" [result]="meaning"></app-result>
  <app-assertion *ngIf="!loading && tagged && !greetings" [result]="meaning" [sentence]="sentence" (loadingEmitter)="setLoading($event)"
    (resultEmitter)="resetTagged($event)" (greetingsEmitter)="setGreetings($event)"></app-assertion>
</main>