@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

$primary-color: #641E16;
$secondary-color: #1A5276;
$btn-color: #196F3D;
$font: 'Abril Fatface', cursive;

li{
  a{
    color: white;
    text-decoration: none;
  }
}